<launch>
  <arg name="velocity_gain" default="1.5"/>
  <arg name="angular_gain" default="1.5"/>
  <arg name="maximum_limit_vel" default="0.5"/>
  <arg name="minimum_limit_vel" default="-0.5"/>

  <node pkg="velocity_smoother" type="velocity_smoother_node" name="velocity_smoother_node">
    <param name="velocity_gain" value="$(arg velocity_gain)"/>
    <param name="angular_gain" value="$(arg angular_gain)"/>
    <param name="maximum_limit_vel" value="$(arg maximum_limit_vel)"/>
    <param name="minimum_limit_vel" value="$(arg minimum_limit_vel)"/>
    <remap from="~raw_cmd_vel" to="/joy_cmd_vel"/>
    <remap from="~filtered_cmd_vel" to="/DoubleArmV7/cmd_vel"/>
  </node>
</launch>
